<div class="wrapper fadeInDown">
  <div id="formContent">
    First Connexion
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <p class="card-text">
          <form>
            <input type="text" id="login" class="fadeIn second" autocomplete="email" autofocus="autofocus" type="email" value="" name="user[email]" placeholder="login">
            <input type="text" id="password" class="fadeIn third" autocomplete="new-password" type="password" name="user[password]" placeholder="password">
            <input type="text" id="password_confirmation" class="fadeIn third" autocomplete="new-password" name="user[password_confirmation]" required="required" aria-required="true" type="password" placeholder="password" >

            <input type="submit" class="fadeIn fourth" name="commit" value="Log In" class="btn" data-disable-with="Log in">
          </form>
        </p>
      <% end %>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

